services:
  - type: web
    name: movie-ticket-booking
    env: node
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: MONGODB_URI
        value: mongodb+srv://wtlab_db_user:jerry@cluster0.5gwoosa.mongodb.net/moviebooking?retryWrites=true&w=majority
      - key: NODE_ENV
        value: development
      - key: PORT
        value: 3000
